<html>
	<head>
		<title> Corona Information App </title>
	</head>
	<body>
		<h1> Welcome to our app </h1>
		<p> Please use <a href="/register_case">Registeration</a> page to inform us about infectections and deaths. If you do not have an account, plase make one <a href="/signup">here</a> </p>
	</body>
</html>
