<html>
    <head>
        <title> Login </title>
    </head>
    <body>
        <div>
            <form action="/login" method="post">
            <label> Username </label>
             <input name="username" type="text"></input>
             <label> Password </label>
             <input name="password" type="password"></input>
            <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>