<html>
	<head>
		<title> Register a new case </title>
		<style>
		 .input-container {
			 width: 100%; 
			 height: 25px;
		 }
		</style>
	</head>
	<body>
	 <div class="form-container">
		<form action="/register_case" method="post">
			<label> Province </label>
			<select name="province" class="input-container">
				<option value="Alborz">Alborz</option>
				<option value="Ardabil"> Ardabil </option>
				<option value="East Azerbaijan"> Azerbaijan, East </option>
				<option value="West Azerbaijan"> Azerbaijan, West </option>
				<option value="Bushehr"> Bushehr </option> 
				<option value="Chaharmahal-o-Bakhtiari"> Chaharmahal-o-Bakhtiari </option>
				<option value="Fars"> Fars </option>
				<option value="Gilan"> Gilan </option>
				<option value="Golestan"> Golestan </option>
				<option value="Hamedan"> Hamedan </option>
				<option value="Hormozgan"> Hormozgan </option> 
				<option value="Ilam"> Ilam </option>
				<option value="Isfahan"> Isfahan </option>
				<option value="Kerman"> Kerman </option>
				<option value="Kermanshah"> Kermanshah </option>
				<option value="North Khorasan"> Khorasan, North </option>
				<option value="Razavi Khorasan"> Khorasan, Razavi </option>
				<option value="South Khorasan"> Khorasan, South </option>
				<option value="Khuzestan"> Khuzestan </option>
				<option value="Kurdistan"> Kurdistan </option>
				<option value="Kohgiluyeh-o-Buyerahmad"> Kohgiluyeh-o-Buyerahmad </option>
				<option value="Lorestan"> Lorestan </option>
				<option value="Markazi"> Markazi </option>
				<option value="Mazandaran"> Mazandaran </option>
				<option value="Qazvin"> Qazvin </option>
				<option value="Qom"> Qom </option>
				<option value="Semnan"> Semnan </option>
				<option value="Sistan-o-Baluchestan"> Sistan-o-Baluchestan </option>
				<option value="Tehran"> Tehran </option>
				<option value="Yazd"> Yazd </option>
				<option value="Zanjan"> Zanjan </option>
			</select>
			<br/>
			<label> Situation </label>
			<select name="situation" class="input-container">
				<option value="1"> alive, infected </option>
				<option value="0"> dead </option>
			</select>
			<br/>
			<input type="submit" value="Submit">
		</form>
	 </div>
	</body>
</html>
