<html>
    <head>
        <title> Signup </title>
    </head>
    <body>
        <div>
            <form action="/signup" method="post">
            <label> Username </label>
             <input name="username" type="text"></input>
             <label> Password </label>
             <input name="password" type="password"></input>
             <label> Password Confirmation:  </label>
             <input name="password_confirm" type="password"></input>
            <input type="submit" value="Signup!">
            </form>
        </div>
    </body>
</html>